/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}
#aboutimg {
  display: flex;
  flex-direction: column;
}
#aboutimg img{
  width: 100%;
  margin-bottom: 15px;
}

form input {
  align-items: flex-end;
}
section h2 {
  font-weight: bold;
}

section h3 {
  font-weight: bold;
}
#host img {
  width: 100%;
}

.ideasimg {
  display: flex;
  flex-direction: column;
}

.ideasimg img {
  width: 100%;
  margin-bottom: 15px;
}


/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;

}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 60px;
  color: #fff;
}

header nav ul {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin: 0;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
  margin-bottom: 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.form-containers input, select {
  display:flex;
  justify-content: space-between;

}
form div{
  display:flex;
  justify-content: flex-end;
}


form select,
form input {
  width: 180px;
  background-color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 800px){

  *{
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
  }
  .logoandmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header {
    text-align: left;
    align-content: center;
    padding: 0;
  }
  header nav ul {
    justify-content: right;
    align-items: center;
  }
  header nav ul li {
    padding: 0;
    margin-bottom: 10px;
  }
  form {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  form div {
    justify-content: space-between;
  }

  #aboutpara {
    margin-right: 50px;
  }
 #about p {
    text-align: left;
    font-size: 17px;
  } 
  
 #aboutimg {
  flex-direction: row;
  align-items: center;
 }

 .ideasimg {
  width: 46%;
 }

 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 }

 h2 {
  text-align: center;
  margin-bottom: 20px;
 }

 .row div {
  align-items: center;
  margin: 10px;

 }
#ideas h2 {
  margin: 0px;
}

.textflexstart {
  align-self: flex-start;
  margin-left: 10px;
}

.hostcontents {
  margin-top: 65px;
  position: relative;
  width: 50%;
  height: 200px;
}

#host {
  display: flex;
}
 #host img{
  width: 500px;
  margin-left: 300px;
}
.hostimg {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

label {
  display:inline-block;
}  


#host ul li, p, h2 {
  position: relative;
  width: 100%;
  line-height: 100%;
  margin-left: 50px;
  align-items: center;
}

#host ul li {
  padding: 0;
}
 
  #about .item-double img {
   width: 20%;
   margin-top: 20px;
   margin-left: 20px;
  }

  .form-containers{
    flex-direction: column;
  }

  .formitem label {
    margin-left: 35px;
  }

}

